//- pug index.pug --pretty --watch --out ./build/
-
  const contacts = {
    'А': [
      {
        name: 'Александр',
        surname: 'Хекслетович',
      },
      {
        name: 'Андрей',
        surname: 'Верстальщиков',
      },
      {
        name: 'Артём',
        surname: 'Джаваскриптов',
      },
    ],
    'Б': [
     {
    name: 'Борис',
    surname: 'Хекслетович',
     },
     {
    name: 'Боров',
    surname: 'Верстальщиков',
     },
     {
    name: 'Боровик',
    surname: 'Джаваскриптов',
     },
    ]
  }

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/x-icon' href='favicon.ico')
    title Hexlet Profile
  body
    each item if contacts
      each people, char in contacts
      h2 = char
      ul
        li people.name + ' ' + people.surname