/* @font-face {
  font-family: JetBrainsMono;
  src: url(/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf);
}

body {
  font-family: JetBrainsMono;
  
} */

:root {
  --red: #f44336;
  --green: #4caf50;
  --blue: #2196f3;
  --side: 200px;
}

body {
  width: 600px;
  height: 400px;
  margin: 0;
}

/* BEGIN (write your solution here) */
.square-red {
  position: absolute;
  background-color: var(--red);
  width: var(--side);
  height: var(--side);
  top: 0;
  left: 0;
}

.square-green {
  position: absolute;
  background-color: var(--green);
  width: var(--side);
  height: var(--side);
  top: calc(var(--side));
  left: calc(var(--side));
}

.square-blue {
  position: absolute;
  background-color: var(--blue);
  width: var(--side);
  height: var(--side);
  top: 0;
  left: calc(var(--side) * 2)
}
/* END */


